*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header Navagation */

.navcontainer{
    width: 100%;
    min-height: 40px;
    background-color: rgb(17, 17, 17);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 110px;
    height: 120px;
    margin: 0px 70px;
}



.buttons{
    margin: 0px 30px;
}

.button{
    margin: 15px;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    transition: 0.4s;
    font-size: 20px;
}

.button:hover{
    border: 2px solid #DDAA44;
    color: #DDAA44;
}


.navbemvindo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    gap: 10px;
}

/* Fim Header Navagation */

/* Banner */
.container1{
    display: flex;
    flex-direction: column;
}

.banner{
   width: 100%;
   height: 400px;
   background: url(img/bannerjean3.png) no-repeat center;
   background-size: cover;
   background-attachment: fixed;
   text-align: center;

}

.bannerTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-top: 110px;
    text-shadow: black 2px 2px 10px;
    margin-bottom: 50px;
    font-family: 'Oswald', sans-serif;
}

.bannerBtn{
    text-transform: uppercase;
    font-weight: bold;
    padding: 25px 20px;
    background-color: red;
    width: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    box-shadow: black 2px 2px 10px;

}

.bannerBtn:hover{
    background-color: #DDAA44;
    color: black;
    transition: all 0.3s;
}

/* Fim do Banner */

/* Combos */

.containerP h2{
    text-align: center;
    margin-top: 75px;
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: red;
}

.containerP p{
    text-align: center;
    margin-top: 25px;
    font-size: 24px;
    color: #DDAA44;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.combos{
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    min-width: 150px;
}

.comboItem{
    
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 20px;
    line-height: 50px;
    margin-bottom: 10px;
    margin: 10px;
}

.comboItem h3{
    background: #d62a1e;
    color: white;
}

.comboItem img{
    width: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}


.comboItem img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.comboItem p{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 20px;
    color: black;
    text-transform: initial;
    text-align: center;
}

.comboItem h4 a{
    background-color: green;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-family: 'Oswald', sans-serif;
    line-height: 65px;
    text-decoration: none;
}

.comboItem h4 a:hover{
    background-color: red;
    color: white;
    transition: 0.8s ease;
}

/* fim combos */

/* Contato */
.EntreContato{
    font-size: 30px;
    margin: 30px;
    border-bottom: 2px solid black;
}

.ContainerMap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    min-height: 50px;
    margin: 30px;
    border-radius: 30px;

}

.map{
    width: 95%;
    border-radius: 30px;
}

.containerContato{
    flex: 1 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "Contato Endereco horario";
    gap: 50px;
}

.ContatoTitle{
    font-size: 26px;
    margin: 20px;
}

.ContatoBtn{
    border: 2px solid transparent;
    background-color: rgba(255, 0, 0, 0.712);
    width: 230px;
    padding: 25px;
    border-radius: 25px;
    color: #fff;
    transition: 0.4s;
}

.ContatoBtn:hover{
    background-color:  rgba(255, 0, 0, 0.473);
}

.ContatoParagrafo{
    font-size: 15px;
    margin: 15px;
}

/* Fim do Contato */